@charset "UTF-8";

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  list-style: none;
}

body,
html {
  height: 100%;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body,
blockquote,
dl,
dd {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 2 */
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
}

button,
select {
  cursor: pointer;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

@font-face {
  font-family: "TT Norms Pro Trial Expanded";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("TT Norms Pro Trial Expanded Regular"), local("TT-Norms-Pro-Trial-Expanded-Regular"), local("TTNormsProTrialExpandedRegular"), url("/fonts/TTNormsProTrialExpandedRegular.woff2") format("woff2"), url("/fonts/TTNormsProTrialExpandedRegular.woff") format("woff");
}

@font-face {
  font-family: "TT Norms Pro Trial Expanded";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("TT Norms Pro Trial Expanded Medium"), local("TT-Norms-Pro-Trial-Expanded-Medium"), local("TTNormsProTrialExpandedMedium"), url("/fonts/TTNormsProTrialExpandedMedium.woff2") format("woff2"), url("/fonts/TTNormsProTrialExpandedMedium.woff") format("woff");
}

@font-face {
  font-family: "TT Norms Pro Trial Expanded";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("TT Norms Pro Trial Expanded Bold"), local("TT-Norms-Pro-Trial-Expanded-Bold"), local("TTNormsProTrialExpandedBold"), url("/fonts/TTNormsProTrialExpandedBold.woff2") format("woff2"), url("/fonts/TTNormsProTrialExpandedBold.woff") format("woff");
}

@font-face {
  font-family: "TT Smalls Trial";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("TT Smalls Trial Regular"), local("TT-Smalls-Trial-Regular"), local("TTSmallsTrialRegular"), url("/fonts/TTSmallsTrialRegular.woff2") format("woff2"), url("/fonts/TTSmallsTrialRegular.woff") format("woff");
}

@font-face {
  font-family: "TT Smalls Trial";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("TT Smalls Trial Medium"), local("TT-Smalls-Trial-Medium"), local("TTSmallsTrialMedium"), url("/fonts/TTSmallsTrialMedium.woff2") format("woff2"), url("/fonts/TTSmallsTrialMedium.woff") format("woff");
}

@font-face {
  font-family: "TT Smalls Trial";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("TT Smalls Trial Demi Bold"), local("TT-Smalls-Trial-Demi-Bold"), local("TTSmallsTrialDemiBold"), url("/fonts/TTSmallsTrialDemiBold.woff2") format("woff2"), url("/fonts/TTSmallsTrialDemiBold.woff") format("woff");
}

@font-face {
  font-family: "TT Smalls Trial";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("TT Smalls Trial Bold"), local("TT-Smalls-Trial-Bold"), local("TTSmallsTrialBold"), url("/fonts/TTSmallsTrialBold.woff2") format("woff2"), url("/fonts/TTSmallsTrialBold.woff") format("woff");
}

body {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  font-family: "TT Smalls Trial", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  color: #000000;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

a:not([class]):visited {
  color: #000000;
}

a:not([class]):hover,
a:not([class]):focus {
  color: #000000;
  outline: none;
  cursor: pointer;
}

a:not([class]):active {
  opacity: 0.9;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
.heading-h1,
h2,
.heading-h2,
h3,
.heading-h3,
.heading-h3-regular,
.big-text {
  font-family: "TT Norms Pro Trial Expanded", sans-serif;
}

.big-text {
  font-size: clamp(2rem, 5vw, 5.625rem);
  font-weight: 400;
  line-height: 1;
}

h1,
.heading-h1 {
  font-size: clamp(2rem, 5vw, 3.375rem);
}

h2,
.heading-h2 {
  font-size: clamp(2.25rem, 5vw, 3rem);
  line-height: 1.2;
}

h3,
.heading-h3 {
  font-size: clamp(1rem, 1vw, 1.125rem);
  font-weight: 700;
  line-height: 1;
}

.heading-h3-regular {
  font-size: clamp(1rem, 3.5vw, 1.75rem);
}

h4,
.heading-h4 {
  font-size: clamp(1.625rem, 3.5vw, 2.5rem);
}

.text-l,
.text-l-demibold,
.text-m,
.text-s {
  line-height: 1.4;
}

.text-l {
  font-size: clamp(1rem, 3.5vw, 1.5rem);
}

.text-l-demibold {
  font-size: clamp(1rem, 3.5vw, 1.5rem);
  font-weight: 600;
}

.text-m {
  font-size: clamp(1rem, 3.5vw, 1.25rem);
}

.text-s {
  font-size: 16px;
  font-weight: 400;
}

.text-s-demibold {
  font-weight: 600;
}

.links {
  display: inline-block;
  font-family: "TT Norms Pro Trial Expanded", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.1;
  color: #000000;
  vertical-align: middle;
}

.links:hover,
.links:focus {
  color: #000000;
  outline: none;
}

.links:active {
  color: #000000;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 40px;
}

.container--wide {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 505px;
  padding: 13px 32px;
  font: inherit;
  font-size: clamp(1.3125rem, 3.5vw, 1.5rem);
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: green;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn:hover,
.btn:focus {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #ffffff;
  background-color: green;
  outline: none;
}

.btn:active {
  background-color: green;
}

.btn:disabled {
  opacity: 0.3;
}

.btn:disabled:hover,
.btn:disabled:focus {
  cursor: default;
}

.svg__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  margin-left: 20px;
  background-color: green;
  border: none;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

iframe {
  display: block;
  width: 100%;
  border: none;
}

/* =GSAP Smooth Scrolling */

#viewport {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* =Other */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skeleton {
  padding: 75px 0;
  color: #FFFFFF;
  background-color: #28292F;
}

.skeleton__title {
  max-width: 910px;
  line-height: 1.35;
}

.skeleton__title span {
  color: #F7CE03;
}

.skeleton__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-gap: 30px;
  min-height: 490px;
  padding-top: 100px;
}

.skeleton__thumbs {
  grid-column: 6 span;
  width: 100%;
  height: 100%;
  background-image: url("/img/bgs/cnc-bg.png");
  background-image: -webkit-image-set(url("/img/bgs/cnc-bg.webp") 1x, url("/img/bgs/cnc-bg.png") 1x);
  background-image: -webkit-image-set(url("/img/bgs/cnc-bg.webp") type("image/webp") 1x, url("/img/bgs/cnc-bg.png") type("image/png") 1x);
  background-image: image-set(url("/img/bgs/cnc-bg.webp") type("image/webp") 1x, url("/img/bgs/cnc-bg.png") type("image/png") 1x);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: unset !important;
}

.skeleton__thumbs .swiper-wrapper {
  background-image: url("/img/bgs/skeleton-bg.png");
  background-image: -webkit-image-set(url("/img/bgs/skeleton-bg.webp") 1x, url("/img/bgs/skeleton-bg.png") 1x);
  background-image: -webkit-image-set(url("/img/bgs/skeleton-bg.webp") type("image/webp") 1x, url("/img/bgs/skeleton-bg.png") type("image/png") 1x);
  background-image: image-set(url("/img/bgs/skeleton-bg.webp") type("image/webp") 1x, url("/img/bgs/skeleton-bg.png") type("image/png") 1x);
  background-size: contain;
  background-repeat: no-repeat;
}

.skeleton-thumbs__slide {
  width: unset !important;
  margin-right: unset !important;
  border-radius: 15px;
  height: unset;
  font-size: 18px;
  color: #fff;
}

.skeleton-thumbs__slide,
.skeleton-thumbs-item__circle {
  position: absolute;
}

.skeleton-thumbs-item__circle {
  top: 0;
  left: 0;
  z-index: 2;
  width: 50px;
  height: 30px;
  font-size: 10px;
  background-color: #F7CE03;
  border-radius: 15px;
  cursor: pointer;
}

.skeleton-thumbs-item__circle::after,
.skeleton-thumbs-item__circle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  background-color: #28292F;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.skeleton-thumbs-item__circle::before {
  width: 20px;
  height: 2px;
}

.skeleton-thumbs-item__circle::after {
  width: 2px;
  height: 20px;
}

.skeleton-thumbs-item__text {
  display: block;
  height: 30px;
  padding-left: 64px;
  padding-right: 24px;
  line-height: 1.7;
  white-space: nowrap;
  background-color: rgba(247, 206, 3, 0.7294117647);
  border-radius: 15px;
  opacity: 0;
}

.skeleton-thumbs-item__img {
  position: absolute;
  display: none;
  -o-object-fit: none;
     object-fit: none;
}

.skeleton-thumbs__slide:first-of-type {
  top: -5%;
  left: 66%;
}

.skeleton-thumbs__slide:first-of-type .skeleton-thumbs-item__img {
  top: -310%;
  right: 135%;
}

.skeleton-thumbs__slide:nth-of-type(2) {
  top: 12%;
  right: -47%;
}

.skeleton-thumbs__slide:nth-of-type(2) .skeleton-thumbs-item__img {
  top: -104%;
  right: 133%;
}

.skeleton-thumbs__slide:nth-of-type(3) {
  top: 40%;
  right: -25%;
}

.skeleton-thumbs__slide:nth-of-type(3) .skeleton-thumbs-item__img {
  top: 15%;
  right: 130%;
}

.skeleton-thumbs__slide:nth-of-type(4) {
  top: 29.5%;
  left: 38%;
}

.skeleton-thumbs__slide:nth-of-type(4) .skeleton-thumbs-item__img {
  top: 50%;
  right: 115%;
}

.skeleton__gallery {
  grid-column: 6 span;
  width: 100%;
  height: 100%;
}

.skeleton-gallery-item {
  display: block;
  font-size: 18px;
  color: #fff;
}

.skeleton-gallery-item__title {
  font-size: 24px;
}

.skeleton-gallery-item__paragraph {
  max-width: 500px;
  margin-top: 45px;
  font-size: 18px;
  line-height: 1.57;
}

.skeleton .swiper-slide-thumb-active .skeleton-thumbs-item__img {
  display: block;
  -webkit-animation: scale-animation 0.5s;
          animation: scale-animation 0.5s;
}

.skeleton .swiper-slide-thumb-active .skeleton-thumbs-item__text {
  opacity: 1;
  -webkit-animation: xmove-animation 0.5s;
          animation: xmove-animation 0.5s;
}

@-webkit-keyframes xmove-animation {
  0% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes xmove-animation {
  0% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes scale-animation {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-animation {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.purchase {
  padding: 75px 0;
  color: #FFFFFF;
  background-color: #28292f;
}

.purchase__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  margin-top: 40px;
  counter-reset: block;
}

.purchase__item {
  grid-column: 6 span;
}

.purchase-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 610px;
  width: 100%;
  padding: 20px 10px 20px 30px;
  background-image: url("/img/bgs/purchase-bg.jpg");
  background-image: -webkit-image-set(url("/img/bgs/purchase-bg.webp") 1x, url("/img/bgs/purchase-bg.jpg") 1x);
  background-image: -webkit-image-set(url("/img/bgs/purchase-bg.webp") type("image/webp") 1x, url("/img/bgs/purchase-bg.jpg") type("image/jpg") 1x);
  background-image: image-set(url("/img/bgs/purchase-bg.webp") type("image/webp") 1x, url("/img/bgs/purchase-bg.jpg") type("image/jpg") 1x);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.purchase-item::before {
  counter-increment: block;
  content: "/0" counter(block);
  position: absolute;
  top: 10px;
  right: 10px;
  color: #F7CE03;
  z-index: 3;
}

.purchase-item:hover::after {
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.6;
}

.purchase-item:hover .purchase__svg {
  --yellow-color: #f7ce03;
}

.purchase-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  background-size: cover;
  z-index: 2;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.purchase-item-content {
  padding-left: 50px;
}

.purchase-item-content__paragraph {
  margin: 15px 0 0 0;
  font-size: 12px;
  line-height: 1.425;
}

.purchase-item-content__title {
  margin: 0;
}

.purchase-item__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.purchase-item svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.purchase__svg {
  fill: #ffffff;
}

.reviews {
  padding: 90px 0;
}

.reviews__title span {
  color: #F7CE03;
}

.reviews__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-gap: 30px;
}

.reviews__item {
  grid-column: 3 span;
}

.reviews-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F6F6F6;
}

.reviews-item__media {
  position: relative;
}

.reviews-item__media:hover .reviews-item__svg,
.reviews-item__media:focus .reviews-item__svg,
.reviews-item__media:active .reviews-item__svg {
  fill: #CF1A01;
  -webkit-transform: scale(1.2) translate(-50%, -50%);
      -ms-transform: scale(1.2) translate(-50%, -50%);
          transform: scale(1.2) translate(-50%, -50%);
}

.reviews-item__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  fill: #DD1B00;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: fill 0.3s, -webkit-transform 0.3s;
  transition: fill 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, fill 0.3s;
  transition: transform 0.3s, fill 0.3s;
  transition: transform 0.3s, fill 0.3s, -webkit-transform 0.3s;
}

.reviews-item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 0 35px 15px 20px;
}

.reviews-item__paragraph {
  padding-bottom: 20px;
}

.reviews-item__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}

.reviews-item__avatar {
  margin-right: 10px;
}

.reviews-item__author {
  color: #808080;
}

@media (max-width: 1365px) {
  .reviews__item {
    grid-column: 6 span;
  }

  .reviews-item__img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }

  .purchase-item {
    grid-column: 13 span;
    margin: 0 auto;
  }

  .purchase-item-content {
    padding-left: 20px;
  }

  .purchase__svg {
    width: 36px;
  }

  .reviews__item {
    grid-column: 12 span;
  }
}

@media (max-width: 467px) {
  iframe {
    height: 100%;
  }
}

@media (max-width: 387px) {
  .purchase__list {
    grid-template-columns: repeat(6, 1fr);
  }

  .purchase-item {
    grid-column: 6 span;
    padding: 10px;
  }

  .purchase-item-content {
    padding-left: 15px;
  }
}

@media (max-width: 374px) {
  .reviews__list {
    grid-template-columns: repeat(6, 1fr);
  }

  .reviews__item {
    grid-column: 6 span;
  }
}