.purchase {
  padding: 75px 0;
  color: #FFFFFF;
  background-color: #28292F;

  &__title {
    font-size: 48px;
    line-height: 1.1;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    margin-top: 40px;
  }

  &__item {
    display: flex;
    grid-column: 6 span;
    max-width: 610px;
    width: 100%;

    padding: 20px 10px 20px 30px;

    border: 1px solid red;
  }

  &-item__wrapper {
    position: relative;
    padding-left: 50px;
  }

  &-item__wrapper::before {
    content: "/01";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  &__item svg {
    flex-shrink: 0;
    margin-top: 30px;
  }

}
