.cases {
  padding: 90px 0;

  &__title span {
    color: $mainYellow;
  }

  &__slider {
    overflow: hidden;
  }

  &__list {
    @media (min-width: 1152px) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: auto;
    }
  }

  &__item {
    @media (min-width: 1152px) {
      grid-column: 3 span;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    max-width: 270px;
    height: auto;
    background-color: $primary-bg;

    &__media {
      position: relative;
      margin-bottom: 15px;

      &:hover,
      &:focus,
      &:active {
        .reviews-item__svg {
          fill: #CF1A01;
          transform: scale(1.2) translate(-50%, -50%);
        }
      }
    }

    &__svg {
      position: absolute;
      top: 50%;
      left: 50%;
      fill: #DD1B00;
      transform: translate(-50%, -50%);
      transform-origin: 0 0;
      transition: transform 0.3s, fill 0.3s;
    }


    &__img {
      @media (max-width: 1365px) {
        width: 100%;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 0 35px 15px 20px;
    }

    &__paragraph {
      padding-bottom: 20px;
    }

    &__meta {
      display: flex;
      align-items: center;
      margin-top: auto;
    }

    &__avatar {
      margin-right: 10px;
    }

    &__author {
      color: #808080;
    }
  }
}