.skeleton {
  padding: 75px 0;
  color: #FFFFFF;
  background-color: #28292F;

  &__title {
    max-width: 910px;
    line-height: 1.35;

    span {
      color: #F7CE03;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    min-height: 490px;
    padding-top: 100px;
  }

  &__thumbs {
    grid-column: 6 span;
    width: 100%;
    height: 100%;
    overflow: unset !important;

    .swiper-wrapper {
      position: relative;

      &::after {
        content:"";
        opacity: 0.5;
        position: absolute;
        z-index:-1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: url("/img/bgs/skeleton-bg.png");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &::after {
      content:"";
      opacity: 0.5;
      position: absolute;
      z-index:-2;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: url("/img/bgs/cnc-bg.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &-thumbs {
    &__slide {
      width: unset !important;
      margin-right: unset !important;
      border-radius: 15px;
      font-size: 18px;
      color: #fff;
    }

    &-item__circle {
      position: absolute;
    }

    &-item {
      position: relative;

      &__circle {
        top: 0;
        left: 0;
        z-index: 2;
        width: 50px;
        height: 30px;
        font-size: 10px;
        background-color: #F7CE03;
        border-radius: 15px;
        cursor: pointer;

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 1;
          background-color: #28292F;
          transform: translate(-50%, -50%);
        }

        &::before {
          width: 20px;
          height: 2px;
        }

        &::after {
          width: 2px;
          height: 20px;
        }
      }

      &__text {
        display: block;
        height: 30px;
        padding-left: 64px;
        padding-right: 24px;
        line-height: 1.7;
        white-space: nowrap;
        background-color: #F7CE03BA;
        border-radius: 15px;
        opacity: 0;
      }

      &__img {
        position: absolute;
        top: -635%;
        left: -35%;
        display: none;
        border-radius: 50%;
        object-fit: none;
      }
    }
  }

  &__gallery {
    grid-column: 6 span;
    width: 100%;
    height: 100%;
  }

  &-gallery-item {
    display: block;
    font-size: 18px;
    color: #fff;

    &__title {
      font-size: 24px;
    }

    &__paragraph {
      max-width: 500px;
      margin-top: 45px;
      font-size: 18px;
      line-height: 1.57;
    }
  }

  .swiper-slide-thumb-active {
    .skeleton-thumbs-item {
      &__img {
        display: block;
        animation: scale-animation 0.5s;
      }

      &__text {
        opacity: 1;
        animation: xmove-animation 0.5s;
      }
    }
  }
}

@keyframes xmove-animation {
  0% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes scale-animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}