// Font
$font: 'TT Smalls Trial', Helvetica, sans-serif;
$fontHeading: 'TT Norms Pro Trial Expanded', sans-serif;

// Size
$mainFontColor: #000000;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

// Color
$primary-color: #000000;
$danger-color: #000000;
$yellow-color: #F7CE03;
$grey-color: #F6F6F6;
$fontColorLighter: #000000;

